* {
  padding: 0;
  margin: 0;
}
html,
body,
.main {
  height: 100%;
}
.main {
  position: relative;
  z-index: 1;
}
.view {
  position: absolute;
  background: #000;
  z-index: 100;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.view .content {
  color: #fff;
}
.fadeout {
  animation: fadeOut 3s;
  animation-fill-mode: both;
  z-index: 0;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.content {
  font-size: 5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 0;
}
canvas {
  background-color: #000;
  border: 1px solid #999;
}

/* メインコンテンツ */
.main {
  background-image:  radial-gradient(  circle, #fff 15%, #000 );
}
.sub-content {
  height: 100%;
}
.content-wrap {
  position: relative;
}
.item {
  position: absolute;
  top: 10%;
  left: 10%;
}
.main-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  font-size: 5rem;
}
.item a {
  position: absolute;
  border-radius: 50%;
  padding: 30px;
  text-decoration: none;
  color: #000;
  background: rgb(245, 238, 139, 0.8);
	box-shadow: -20px -10px 50px 10px rgb(255, 247, 134) inset;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: scale(0.8);
  font-size: 1.5rem;
}
.item a:hover {
  opacity: 0.9;
  animation-name: sample04;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: initial;
}
@keyframes sample04{
  0%{
    transform: scale(0.8);    
  }
  100%{
    transform: scale(1);    
  }
}
